<section class="section">
  <a name="pagecontent" id="pagecontent"></a>
    <div id="hlc-page-no-title" class="container content page">
    {% render 'page-multi-column', content: page.content %}
  </div>
</section>
