.collection_swatches {
  max-width: 270px;
  margin: 0 auto;
  padding-top: 10px
}

.collection_swatches .swatch span {
  width: 25px;
  min-width: 25px;
  height: 25px
}

.collection_swatches .swatch {
  padding: 1px
}

.collection_detail_divider {
  margin-top: 30px
}